:root {
  --btn-color: rgb(33, 111, 228);
  --secondary-btn-color: rgb(102, 234, 146);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  padding: 15px;
}

.title {
  margin-bottom: 10px;
}

button {
  background-color: var(--btn-color);
  border-width: 2px;
  border-radius: 4px;
  min-height: 28px;
}

button:hover,
button:focus {
  background-color: var(--secondary-btn-color);
  cursor: pointer;
  border-width: 1px;
  padding: 1px 7px;
}
